<%= render 'header' %>

<div class="container-fluid bg-image">
  <h1>Créer, publier et promouvoir votre événement</h1>

  <div class="row">
  	<br />
	  <div class="col-sm-4 bg-black">
	  	<h3>Inscrivez votre événement</h3>
			<br />
			<br />
			<br />
			<br />

	  </div>

	  <div class="col-sm-8">
	  	Présentation du site
	  </div>
	  <br />
	</div> 
</div>