<%= render 'header' %>

<h2>Nouvel Utilisateur</h2>

<table>
  <tr>
    <th></th>
    <!-- <th>Nom ou Pseudo</th> -->
    <th>Utilisateur</th>
  </tr>
  <tr>
    <td><%= @user.name %></td>
  </tr>
</table>
