 @import "bootstrap";

.navbar{
 	background-color: #000000;
	color: #FFFFFF;
	font-size: 1.3em;
}
.navbar-brand{
	color: #FFFFFF;
	font-size: 1.3em;
}
nav a{
	color: #FFFFFF;

}

#title{
	font-size: 2.5em;
}
.bg-image{
	background-image: image-url("sakura-tokyo.jpg");
	background-size: 100% 100%;
}
.bg-black{
	background-color: #000000;
	color: #FFFFFF;
}
